.site-header {
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.logo {
    width: 20vw;
}


nav ul {
    display: flex;
    font-size: 9px;
    background-color: #f2f2f2;
}

nav ul li{
    margin-right: 15px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
}
nav ul li a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.site-nav ul li a:hover {
    color: #08963e95;
}

.site-nav ul li {
    margin-right: 12px;
    border-right: 1px solid #333;
    padding-right: 15px;
}

.site-nav ul li:last-child {
    margin-right: 0;
    border-right: none;
    padding-right: 0;
}

@media (max-width: 1500px){
    nav ul {
        font-size: 18px;
    }
}


@media (max-width: 700px){
    nav ul {
        font-size: 12px;
    }
}

@media (max-width: 450px){
    nav ul {
        font-size: 6px;
    }
}
