@import url("../css/cabecalho.css");
@import url("../css/rodape.css");

* {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
}

.video-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}

.video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

.content {
    max-width: 30vw;
    margin: 0 auto;
    padding: 5em;
    color: #ffffff;
}

.title {
    font-size: 3em; 
    text-align: center;
    margin-bottom: 1em;
    text-shadow: 1em 1em 2em rgba(0, 0, 0, 0.8);
    color: #ffffff;
    font-family: "Times New Roman", serif; 
}

.subtitle {
    font-size: 2em; 
    margin-top: 2em;
    margin-bottom: 0.5em;
    text-shadow: 1em 1em 2em rgba(0, 0, 0, 0.8);
    color: #ffffff;
    font-family: "Times New Roman", serif; 
    text-align: center;
}

.box {
    background-image: url("https://cdn.pixabay.com/photo/2016/11/21/18/11/abstract-1846942_1280.jpg");
    padding: 1.5em;
    margin-bottom: 2em;
    border-radius: 1em;
    box-shadow: 0 2em 4em rgba(0, 0, 0, 0.2);
    font-family: "Times New Roman", serif; 
    text-shadow: 2em 2em 4em rgba(0, 0, 0, 0.8); 
    font-size: 1em; 
}

p {
    margin-top: 0;
    margin-bottom: 0.3em;
    line-height: 1.5;
    font-size: 1em; 
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1.3em auto;
    border-radius: 1em;
    box-shadow: 0 2em 4em rgba(0, 0, 0, 0.2);
}

/* Consulta de mídia para tablets */
@media (max-width: 1024px) {
    .content {
        max-width: 600px;
    }

    .title {
        font-size: 48px;
    }

    .subtitle {
        font-size: 24px;
    }

    .box {
        font-size: 16px;
    }

    .image-container img {
        flex-basis: 100%;
    }
}

/* Consulta de mídia para celulares */
@media (max-width: 768px) {
    .content {
        max-width: 400px;
    }

    .title {
        font-size: 36px;
    }

    .subtitle {
        font-size: 20px;
    }

    .box {
        font-size: 14px;
        padding: 10px;
    }

    .image-container img {
        flex-basis: 100%;
    }
}

/* Consulta de mídia para celulares menores */
@media (max-width: 375px) and (max-height: 490px) {
    .content {
        max-width: 300px;
    }

    .title {
        font-size: 28px;
    }

    .subtitle {
        font-size: 16px;
    }

    .box {
        font-size: 12px;
        padding: 10px;
    }

    .image-container img {
        flex-basis: 100%;
    }
}
